.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}
.features {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f9f4e3;
    border-bottom: 2px solid #d2c1a3; /* optional bottom edge */
}
[data-theme="dark"] .features {
    background-color: #1c1b19;
    border-bottom: 2px solid #372d25;
}
